/* importacion de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&display=swap');

/* variables */
:root {
    --board-bg-color: #f2e8cf;
    --card-bg-color: #a7c957;
    --card-border-color: #386641;
    --font-color: #212529;
}

/* fuente principal */
.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

/* fuente secundaria */
.nunito-regular {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--font-color);
    background-color: var(--board-bg-color);
}

main {
    display: flex;
    flex-direction: column;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 15%;
}

h1,
p,
small {
    text-transform: capitalize;
    letter-spacing: 1px;
    opacity: 90%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    height: min-content;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn img {
    width: 1.8rem;
    height: auto;
}

.memory-board {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
    margin: 1rem 0;
    /* perspectiva en el eje z,
    establece que tan lejos del eje z esta el objeto,
    esto hace un espacio 3d donde el eje z tiene una "profundidad"
    de 1000px */
    perspective: 1000px;
}

.memory-card {
    /* grilla de 4 columnas */
    width: calc(25% - 10px);
    /* grilla de 3 filas */
    height: calc(33.333% - 10px);
    /* margen */
    margin: 5px;
    /* para posicionar el frente y dorso de la carta */
    position: relative;
    transform: scale(1);
    /* posiciona la carta en el
    espacio 3d creado en el elemento padre */
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

/* rotacion de una carta */
.memory-card-flip {
    transform: rotateY(180deg);
}

/* cada "cara" es una imagen que
tiene a su vez frente y dorso */
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2rem 1rem;
    background-color: var(--card-bg-color);
    border-radius: 5px;
    cursor: pointer;
    /* ocultar el dorso de cada imagen */
    backface-visibility: hidden;
}

/* rotar siempre la cara de atras para que
sea visible al dorso de la cara frontal */
.card-back {
    transform: rotateY(180deg);
}

.card-front:hover {
    border: 2px solid var(--card-border-color);
}